<h1>My Amazing Category <%= @category.name %></h1>

<h3>Recipes</h3>

<ul>
<!--   <%= @category.recipes.each do |recipe| %>
  <%= render :partial => 'recipes/recipe', :locals => {:recipe => recipe} %>
  <% end %> -->

  <!--   <%= @category.recipes.each do |recipe| %>
  <%= render recipe %>
  <% end %> -->

  <%= render @category.recipes %>
</ul>