!!!5
%html
  %head
    %title RecipeApp
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav#sidebar
      %h3 Categories
      %ul#categories
        = render @categories
      %ul#categories
        = render @cuisines
    / %h3= My Amazing Recipe App
    %main
      = yield


